body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    color: #d16e00;
    margin-bottom: 20px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.box {
    width: 80px;
    height: 80px;
    background-color: #e0e7ff;
    border: 1px solid #000;
    border-radius: 5px;
}

.prediction-area {
    margin-bottom: 15px;
}

.prediction-input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 3px;
    width: 150px;
}

.submit-button {
    background-color: #d16e00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px;
}

.submit-button:hover {
    background-color: #a65400;
}

.scores-lives {
    margin-top: 20px;
    font-size: 18px;
}

.score {
    margin-right: 20px;
}